services:
  kalilinux:
    hostname: kalilinux.lab
    build:
      context: ./
      dockerfile: Dockerfile
    image: 'csalab/kalilinux-docker:latest'
    restart: always
    cap_add:
      - NET_ADMIN
    environment:
      - SHELL=/bin/bash
      - PASSWORD=${PASSWORD:-kali1234}
    volumes:
      - data:/home/kali/Desktop
    entrypoint: ["/bin/bash", "/startup.sh"]

volumes:
  data: {}
