services:
  kalilinux:
    hostname: kalilinux.lab
    build:
      context: ./
      dockerfile: Dockerfile
    image: 'csalab/kalilinux-docker:latest'
    restart: always
    cap_add:
      - NET_ADMIN
    ports:
      - ${BIND:-0.0.0.0:9999}:8080
    environment:
      - SHELL=/bin/bash
      - PASSWORD=${PASSWORD:-K@liGouveia}
    volumes:
      - data:/home/kali/Desktop
    entrypoint: ["/bin/bash", "/startup.sh"]

volumes:
  data: {}
